@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Barcelony';
    src: url('/src/assets/fonts/Barcelony.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }